@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

#nicheki{
  border: 2px solid red !important;
}

.ficha-scrollbar::-webkit-scrollbar{
  display:none /* hide for chrome safari and opera*/
}
.ficha-scrollbar{
  -ms-overflow-style: none; /*Internet explorer and edge*/
  scrollbar-width: none; /*Firefox*/
}